p {
  background-color: yellow;
  margin: 2;
  height: 40px;
  width: 150px;
  font-family: 'Josefin Sans', sans-serif;
  margin-left: 35%; 

}

.cajaRosa {
  background-color: #F853CD;
  height: 40px;
  width: 150px;
  font-family: 'Josefin Sans', sans-serif;
}
